* {
    font-family: 'Orbitron', sans-serif;
    color: #00FF41;
}

a, button {
    background: #FF00FF;
    border: none;
}

a:hover, button:hover {
    background: #FF1493;
}

body {
    background: black;
    padding: 20px;
}

a, button, input, select, textarea {
    border-radius: 3px;
}

select {
    color: #FF00FF;
}

.container {
    background: rgba(0,0,0,0.8);
    padding: 25px;
    box-shadow: 0px 0px 20px #00FF41;
    border-radius: 15px;
}